body {background-color: #1d809f!important;}

.form-container{padding:50px 60px; margin-top: 20vh;
background-color: #343a40;
border-radius: 25px;
color: white;
}
a{
	color: white;
}

.alert {
	background-color: #343a40;
	color: white;
}