{% extends 'subtitle_app/base.html' %}
{% load staticfiles %}
{% block content %}


	<div class="limiter">
		<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Sentence</th>
								<th class="column2">Translate</th>
								<th class="column3">Suggestion</th>
                                <th class="column4">Suggestion</th>
								<th class="column5">
                                    <a href={{ document_path_template }} download>
	                                    <button type="button" class="btn btn-primary">Download File</button>
                                    </a>
                                </th>
							</tr>
						</thead>
						<tbody>
							{% for translate, form in data %}
							<form method="post" enctype="multipart/form-data">
	  						{% csrf_token %}
								<tr>
									<td class="column1">{{ translate.sentence|safe }}</td>
									<td class="column2">{{ translate.translation|safe }}</td>
									<td class="column3">{{  form.suggestion }}</td>
                                    <td class="column4">{{ translate.edit_translation|safe }}</td>
									<input name="id" type="hidden" value="{{ translate.id }}">
									<td class="column5"><button type="submit" class="btn btn-info">Upload</button></td>
								</tr>
							</form>
							{% endfor %}

						</tbody>
					</table>
				</div>
		</div>
	</div>
{% endblock %}